.idea
backend/__pycache__/
database/__pycache__/
userAdmin/__pycache__/
utils/__pycache__/
consultant/__pycache__/
director/__pycache__/
database/migrations/
visitor/__pycache__/
im/__pycache__/