/*message-item:每条信息的样式*/
.scroll-view .message-item {
  max-height: 10rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.scroll-view-side .message-item {
  max-height: 10rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.message-item.self {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.message-item .chat-avatar {
  margin-right: 0.5rem;
  margin-left: 0;
  width: 3rem;
  height: 3rem;
}

.message-item.self .chat-avatar {
  margin-left: 0.5rem;
  margin-right: 0;
}

.chat-message {
  font-size: 1.3rem;
  line-height: 1.7rem;
  max-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: right;
}

.chat-message .pending {
  background: url("/public/IM/icon/pending.gif") no-repeat center;
  background-size: 0.15rem;
  width: 0.15rem;
  height: 0.15rem;
  margin-right: 0.05rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.chat-message .send-fail {
  background: url("/public/IM/icon/failed.png") no-repeat center;
  background-size: 0.15rem;
  width: 0.15rem;
  height: 0.15rem;
  margin-right: 0.05rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.chat-message .text-content {
  padding: 0.8rem;
  border-radius: 0.5rem;
  color: #ffffff;
  background: #618DFF;
  /*允许在单词内换行*/
  word-break: break-all;
  text-align: left;
  vertical-align: center;
  display: block;
  max-width: 25rem;
}


.chat-message .text-content img {
  width: 1.5rem;
  height: 1.5rem;
}

.chat-message .image-content {
  padding: 0.08rem;
  border-radius: 0.06rem;
  max-width: 5rem;
  max-height: 5rem;
}

.chat-message .image-content img {
  width: 100%;
  height: 100%;
}
